<p>
  <strong>Auteur :</strong>
  <%= @gossip.anonymous_author %>
</p>

<p>
  <strong>Le gossip :</strong>
  <%= @gossip.content %>
</p>


<p> <%= link_to 'Back', gossips_path %> </p>
<p> <%= link_to('Editer mon gossip', edit_gossip_path) %> </p> 


